.btn {
  text-align: center;
  border: 1px solid #fff;
  border-radius: 4px;
}

.medium {
  padding: 8px 20px;
  font-size: 1.2rem;
}

.large {
  padding: 12px 25px;
  font-size: 1.2rem;
}

.btn-primary {
  background: #fff;
  color: #2c2c2c;
}

.btn-outline {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: #fff;
  color: #2c2c2c;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
